@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.Background{
    width: 100%;
    height: 100vh;
    background: url(1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    transition: .5s;
    opacity: 0;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}

.search-bar{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding: 10px;
}

.search-bar input::placeholder{
    color: #e4e4e4;
}

.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i{
    font-size: 22px;
    color: #e4e4e4;
}

.container{
    position: absolute;
    top: 51%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    height: 550px;
    background: url(1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    background: transparent;
}

.container .Logo{
    font-size: 30px;
} 

.text-sci h2{
    font-size: 40px;
}

.text-sci h2 span{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}

.social-ic a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.social-ic a i:hover{
    transform: scale(1.2);
}

.logreg-box .login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur( 5px);
}

h2{
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icone{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 57px;
}

.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background: #fff;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    transition: .5s;
}

.register{
    font-size: .9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

@media (max-width:360){
    .login-box{
        width: 100%;
        height: 100vh;
    }
}

button:hover{
    background: #1c6bfd;
    color: #fff;
    border: 1px solid #fff;
}